@mixin basic {
  color: $text-color;
  background: $grey-color;
  font-family: $josefin-sans;
  font-size: $normal-font-size;
  font-weight: 400;
}

@mixin input {
  width: 100%;
  height: 55px;
  color: $white-color;
  background: $grey-color;
  font-family: $josefin-sans;
  font-size: $normal-font-size;
  font-weight: 500;
  border-radius: 8px 0 0 8px;
  padding: 20px;
  outline: none;
  border: none;
}

@mixin button {
  width: 74px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  background: #10101A;
  font-family: $josefin-sans;
  font-size: $small-font-size;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  transition: all 0.2s linear;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: $white-color;
  }
}