/* ---------- GOOGLE FONTS ---------- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ---------- COLORS ---------- */
$bg-color: #0a0a0f;
$white-color: #E9E9E9;
$grey-color: #191A29;
$text-color: #81828F;
$border-color: #272834;
$red-color: #FF0000;
$neon-color-pink: #CA00E4;
$neon-color-blue: #1B2DB4;

/* ---------- FONT FAMILY ---------- */
$josefin-sans: "Josefin Sans", serif;

/* ---------- FONT SIZE ---------- */
$h1-font-size: 32px;
$normal-font-size: 19px;
$small-font-size: 17px;
$footer-font-site: 14px;